.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.App h1 {
  color: #313357;
}

.dotted-line {
  width: 100%;
  border-top: 2px dotted black;
}

.inputs {
  width: 40%;
  text-align: left;
  padding: 5px;
  color: #313357;
  border: 1px solid #313357;
  background-color: #EAEBEE;
}






