.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.dotted-line {
  width: 100%;
  border-top: 2px dotted black;
}

.inputs {
  width: 40%;
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}

.inputs1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.inputs2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 10px;
}



